<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var API_URL = "<%= api %>";
    </script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/game.css">
    <link href="https://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet">
    <title id="title">PokerBalmz Home</title>
</head>

<body>
    <nav class="navbar">
        <img src="img/logo.png" alt="Logo" id="logo">
        <div id="custom-msg">

        </div>
        <div id="links">
            <a class="button" id="homepage">Home</a>
            <a class="button" id="registerpage">Register</a>
            <a class="button" id="loginpage">Login</a>
            <a class="button" id="gamepage">Game</a>
        </div>
    </nav>
    <section id='homepage-section'>
        <div class="home-content">
            <h1>PokerBalmz</h1>
            <p id="textContent">
                PokerBalmz is a Poker company named after its founder Ed Balm.
            </p><br>
            <p id="textContent">
                Balm so hard people want to fine me.
            </p>
            <div class="img">
                <img src="img/pokerimage.jpg" alt="Poker Image" id="homepageimage" />
            </div>
        </div>
    </section>

    <section id='login-section'>

        <div class="form-content">
            <h1>Login to your PokerBalmz account</h1>
            <div class="form-container">

                <form class="loginform">
                  <div class="message" id="register-msg">
                  </div>
                  <div class="message" id="login-msg">
                  </div>
                    <div>
                        <input type="text" class="username" id="username" placeholder="Username" required>
                    </div>
                    <div>
                        <input type="password" id="password" class="password" placeholder="Password" required>
                    </div>
                    <input type="button" value="Login" id="login-button">
                </form>
            </div>
        </div>

    </section>

    <section id='register-section'>
        <div class="form-content">
            <h1>Register a PokerBalmz account</h1>
            <div class="form-container">

                <form class="registerform">
                  <div class="message" id="registerpage-msg">

                  </div>
                    <div>
                        <input type="text" class="username" id="registerusername" placeholder="Username" required>
                    </div>
                    <div>
                        <input type="password" class="password" id="registerpassword" placeholder="Password" required>
                    </div>
                    <input type="button" value="Register" id="register-button">
                </form>
            </div>
        </div>

    </section>
    <section id='game-section'>
      <div id="game-msg">

      </div>

        <div class="game">
            <div class="wallet">
                <input type="text" name="wallet" placeholder="Wallet" readonly><br>
            </div>
            <div class="table">
                <table>
                    <tr class="top">
                        <td id="top-left">
                        </td>
                        <td id="top-middle">
                          <div class="deck">
                          <div class="deck-card">
                          </div>
                        </div>
                        </td>
                        <td id="top-right">
                        </td>
                    </tr>
                    <tr class="bottom">
                        <td id="bottom-left">
                        </td>
                        <td id="bottom-middle">

                        </td>
                        <td id="bottom-right">

                        </td>
                    </tr>
                </table>

            </div>
            <div class="seat" id="seat1">
              <p class="playerseat">Player1</p>
            </div>
            <div class="seat" id="seat2">
              <p class="playerseat">Player2</p>
            </div>
            <div class="seat" id="seat3">
              <p class="playerseat">Player3</p>
            </div>
            <div class="seat" id="seat4">
              <p class="playerseat">Player4</p>
            </div>
            <div class="seat" id="seat5">
              <p class="playerseat">Player5</p>
            </div>
            <div class="gamecontent">
                <div class="singlemultiplayer">
                    <button type="button" id="single">Single</button>
                    <button type="button" id="multiplayer">Multiplayer</button>
                </div>

                <div id="gamebuttons">
                    <label for="stake">Stake:</label><br>
                    <input id="option1" type="button" name="stake" value="100"> edds<br>
                    <input id="option2" type="button" name="stake" value="50"> edds<br>
                    <input id="option3" type="button" name="stake" value="20"> edds<br>
                    <input id="stake" type="number" name="stake" placeholder="Stake" required><br>
                    <button type="button" id="check">Check</button>
                    <button type="button" id="fold">Fold</button>
                    <button type="button" id="bet">Bet</button>
                    <button type="button" id="call">Call</button>
                    <button type="button" id="start">Start</button>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
